---

server:
  port: 8070

spring:
  profiles:
    include: h2,rabbitmq

---

spring:
  profiles: rabbitmq
  cloud:
    stream:
      bindings:
        ## used by workflow
        tracker-provision-send:
          destination: tracker-provision
        tracker-status-listen:
          destination: tracker-status
        ## used by tracker worker
        tracker-provision-listen:
          destination: tracker-provision
        tracker-status-send:
          destination: tracker-status
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: bitnami

---

spring:
  profiles: h2
  datasource:
    url: jdbc:h2:mem:portal;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    database: h2
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

---

spring:
  profiles: postgresql
  datasource:
    url: jdbc:postgresql://localhost/portal
    username: ${user.name}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQL92Dialect
    show-sql: true
